<!DOCTYPE html>
<!--Head-->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="css/productAdd.css">
</head>

<body>
  <!--Navbar-->
  <%- include('../partials/navBar.ejs') %>
  <!--Ingreso de producto-->
  <main>
    <section class="row">
      <article class="col-12">
        <h1 class="text-center mt-3">ACTUALIZAR</h1>
      </article>
      <form action="/productEdit/<%= camisetaEditar.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
        class="w-100">
        <article class="col-12 d-flex flex-column justify-content-center">
          <!--Titulo-->
          <div class="card shadow p-3 mb-3 bg-white bg-light alto">
            <h5 class="card-title text-center">TÍTULO</h5>
            <input type="text" class="form-control" name="nombre" placeholder="Titulo" required="required"
              value="<%= camisetaEditar.title %>">
          </div>
          <!--Categoría-->
          <div class="card shadow p-3 mb-3 bg-white bg-light alto">
            <h5 class="card-title text-center">CATEGORÍA</h5>
            <div class="d-flex justify-content-center flex-wrap">
              <button type="button" class="btn btn-secondary btn-md m-2">Nueva Temporada</button>
              <button type="button" class="btn btn-secondary btn-md m-2">Colección</button>
              <button type="button" class="btn btn-secondary btn-md m-2">Edición Limitada</button>
              <button type="button" class="btn btn-secondary btn-md m-2">Pre-venta</button>
            </div>
          </div>
          <!--Datos-->
          <div class="card shadow p-3 mb-3 bg-white bg-light alto">
            <h5 class="card-title text-center align-items-start flex-column flex-wrap">DATOS</h5>
            <div class="justify-content-center d-flex flex-md-row flex-lg-row">
              <div class="col-md-2 mb-2 ubicacion">
                <label for="validationDefault04 align-self-start">LIGA</label>
                <select class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Elegir...</option>
                  <option>Premier League</option>
                  <option>La Liga</option>
                  <option>Serie A</option>
                  <option>Bundesliga</option>
                  <option>League 1</option>
                  <option>Super Liga</option>
                  <option>Selecciones</option>
                  <option>MLS</option>
                </select>
              </div>
              <div class="col-md-2 mb-2 ubicacion">
                <label for="validationDefault04">EQUIPO</label>
                <select class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Elegir...</option>
                  <option>Arsenal</option>
                  <option>Aston Villa</option>
                  <option>Chelsea</option>
                  <option>Liverpool</option>
                  <option>Manchester United</option>
                  <option>Manchester City</option>
                  <option>Everton</option>
                  <option>Leicester City</option>
                </select>
              </div>
              <div class="col-md-2 mb-2 ubicacion">
                <label for="validationDefault04">MARCA</label>
                <select class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Elegir...</option>
                  <option>Adidas</option>
                  <option>Nike</option>
                  <option>New Balance</option>
                  <option>Puma</option>
                  <option>Umbro</option>
                  <option>Hummel</option>
                  <option>Otros</option>
                </select>
              </div>
              <div class="col-md-2 mb-2 ubicacion">
                <label for="validationDefault04">TEMPORADA</label>
                <select class="custom-select" id="validationDefault04" required>
                  <option selected disabled value="">Elegir...</option>
                  <option>Histórica</option>
                  <option>Campeón</option>
                  <option>18/19</option>
                  <option>19/20</option>
                  <option>20/21</option>
                </select>
              </div>
            </div>
          </div>
          <!--Stock-->
          <div class="card shadow p-3 mb-3 bg-white bg-light alto">
            <h5 class="card-title text-center">STOCK</h5>
            <div class="d-flex justify-content-center flex-wrap">
              <div class="talles">
                <h6>XS</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
              <div class="talles">
                <h6>S</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
              <div class="talles">
                <h6>M</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
              <div class="talles">
                <h6>L</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
              <div class="talles">
                <h6>XL</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
              <div class="talles">
                <h6>XXL</h6>
                <textarea name="title" class="bg-light" id="title" cols="5" rows="1"></textarea>
              </div>
            </div>
          </div>
          <!--Imágenes-->
          <div class="card shadow p-3 mb-3 bg-white bg-light alto">
            <h5 class="card-title">IMÁGENES</h5>
            <input type="file" name="imagen">
          </div>
          <div class="d-flex justify-content-center mb-3">
            <button type="submit" class="btn btn-dark align-center confirmar">ACTUALIZAR</button>
            <a href="/productAdmin" class="btn btn-danger">VOLVER</a>
          </div>
        </article>
      </form>
    </section>

  </main>
  <!-- Footer -->
  <%- include('../partials/footer.ejs') %>
</body>

</html>