<!DOCTYPE html>
<!--Head-->
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="css/productAdd.css">
</head>

<body>
  <main>
    <!--Navbar-->
    <%- include('../partials/navbar.ejs') %>
    <!--Ingreso de producto-->


    <section class="row">
      <article class="col-12">
        <h1 class="text-center mt-3">INGRESO</h1>
      </article>
      <article class="col-12 col-md-6 col-lg-3 d-flex flex-column justify-content-center">
        <!--Titulo-->
        <div class="card shadow p-3 mb-3 bg-white bg-light alto">
          <h5 class="card-title text-center">Nombre del Club</h5>
          <form action="/productAdd" method="POST" enctype="multipart/form-data">
            <input type="text" name="title" class="w-100 text-center"
              placeholder="Indique el nombre del club al cual corresponda la nueva camiseta">
        </div>
        <!--Categoría-->
        <div class="card shadow p-3 mb-3 bg-white bg-light alto">
          <h5 class="card-title text-center">CATEGORÍA</h5>
          <div class="d-flex justify-content-center flex-wrap form-group">
            <select name="category" id="" class="form-control">
              <option selected>Seleccione una categoria</option>
              <% for(var i = 0; i < categorias.length; i++){ %>
              <option><%= categorias[i].name %></option>
              <% } %>
            </select>
          </div>
        </div>
        <!--Datos-->
        <div class="card shadow p-3 mb-3 bg-white bg-light alto">
          <h5 class="card-title text-center flex-column flex-wrap">DATOS</h5>
          <div class="justify-content-center d-flex flex-md-row flex-lg-row">
            <div class="col-md-3 mb-2 ubicacion">
              <label for="validationDefault04 align-self-start">LIGA</label>
              <select class="custom-select form-control" id="validationDefault04" name="league" required>
                <option selected disabled value="">Elegir...</option>
                <% for(var i= 0; i < ligas.length; i++){ %>
                <option><%= ligas[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-md-3 mb-2 ubicacion">
              <label for="validationDefault04">MARCA</label>
              <select class="custom-select" id="validationDefault04" name="brand" required>
                <option selected disabled value="">Elegir...</option>
                <option>Adidas</option>
                <option>Nike</option>
                <option>New Balance</option>
                <option>Puma</option>
                <option>Umbro</option>
                <option>Hummel</option>
                <option>Otros</option>
              </select>
            </div>
            <div class="col-md-3 mb-2 ubicacion">
              <label for="validationDefault04">TEMPORADA</label>
              <select class="custom-select" id="validationDefault04" name="season" required>
                <option selected value="">Elegir...</option>
                <option>Histórica</option>
                <option>Campeón</option>
                <option>18/19</option>
                <option>19/20</option>
                <option>20/21</option>
              </select>
            </div>
          </div>
        </div>
        <!--Precio/Stock-->
        <div class="card shadow p-3 mb-3 bg-white bg-light alto">
          <div class="justify-content-center d-flex flex-md-row flex-lg-row">
            <label>Stock</label>
            <div class="col-md-3 mb-2">
              <input type="number" name="stock" value="">
            </div>
            <label>Precio</label>
            <div class="col-md-3 mb-2">
              $<input type="number" name="price" value="">
            </div>
          </div>
        </div>
        <!--Imágenes-->
        <div class="card shadow p-3 mb-3 bg-white bg-light custom-file alto">
          <input type="file" name="image" class="">
        </div>
        <div class="d-flex justify-content-center mb-3 alto">
          <button type="submit" class="btn align-center m-10">Crear</button>
        </div>
        </form>
      </article>
    </section>


    <!-- Footer -->
    <%- include('../partials/footer') %>
  </main>
</body>

</html>