<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/productos.css">
</head>

<body>
  <!-- navBar-->
  <%- include('../partials/navbar.ejs') %>

  <!--Productos-->
  <main>
    <h1 class="text-center">Todas las Ligas</h1>
    <h3 class="text-center">Superliga Argentina</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <% if(camisetas[i].league == "Argentina"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% }%>
      <% } %>
    </section>
    <h3 class="text-center">Premier League</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <%if(camisetas[i].league == "Inglaterra"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% } %>
      <% } %>
    </section>
    <h3 class="text-center">Serie A</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <%if(camisetas[i].league == "Italia"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% } %>
      <% } %>
    </section>
    <h3 class="text-center">La Liga ESP</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <%if(camisetas[i].league == "España"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% } %>
      <% } %>
    </section>
    <h3 class="text-center">Bundesliga</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <%if(camisetas[i].league == "Alemaña"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% } %>
      <% } %>
    </section>
    <h3 class="text-center">Mundiales</h3>
    <section class="row w-100">
      <% for(let i = 0; i < camisetas.length; i++){ %>
      <%if(camisetas[i].league == "Mundiales"){ %>
      <article class="card col-12 col-md-6 col-lg-3">
        <figure>
          <img src="/public/img/<%=camisetas[i].image%>" class="card-img-top" alt="...">
        </figure>
        <div class="card-body">
          <h5 class="card-title"><%= camisetas[i].title %> <%= camisetas[i].price %></h5>
          <a href="/ProductDetail/:<%= camisetas[i].id %>" class="btn btn-primary">Detalle del Producto</a>
          <a href="/productCart/:<%= camisetas[i].id %>" class="btn btn-primary">Comprar</a>
        </div>
      </article>
      <% } %>
      <% } %>
    </section>
  </main>

  <!--footer-->
  <%- include('../partials/footer') %>
</body>

</html>