<!--Head-->
<%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="css/productos.css">
</head>

<body>
  <!-- navBar-->
  <%- include('../partials/navbar.ejs') %>

  <!--Productos-->
  <main>
    <div class="d-flex justify-content-center w-100">
      <img class="escala" src="/img/todas_las_ligas.png" alt="">
    </div>
    <h3 class="text-center text-uppercase font-italic">Superliga Argentina</h3>
    <section class="row w-100">
          <% camisetas.forEach(camiseta =>{ %>
          <% if(camiseta.leagues_id == 1){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>
          
          <p class="text-center ">$ <%= camiseta.price %><span class="badge badge-danger">Exclusivo</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>

    <h3 class="text-center text-uppercase font-italic">Premier League</h3>
    <section class="row w-100">
      <% camisetas.forEach(camiseta => { %>
        <%if(camiseta.leagues_id == 5){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>
          
          <p>$ <%= camiseta.price %><span class="badge badge-dark">New</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>

    <h3 class="text-center text-uppercase font-italic">Serie A</h3>
    <section class="row w-100">
      <% camisetas.forEach(camiseta => { %>
        <%if(camiseta.leagues_id == 2){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>

          
          <p>$ <%= camiseta.price %><span class="badge badge-danger">Exclusivo</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>

    <h3 class="text-center text-uppercase font-italic">La Liga</h3>
    <section class="row w-100">
      <% camisetas.forEach(camiseta => { %>
        <%if(camiseta.leagues_id == 3){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>

          
          <p>$ <%= camiseta.price %><span class="badge badge-danger">Exclusivo</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>

    <h3 class="text-center text-uppercase font-italic">Bundesliga</h3>
    <section class="row w-100">
      <% camisetas.forEach(camiseta => { %>
        <%if(camiseta.leagues_id == 4){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>

          
          <p>$ <%= camiseta.price %><span class="badge badge-danger">Exclusivo</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>

    <h3 class="text-center text-uppercase font-italic">Mundiales</h3>
    <section class="row w-100">
      <% camisetas.forEach(camiseta => { %>
        <%if(camiseta.leagues_id == 7){ %>
      <article class="card border-dark col-12 col-md-6 col-lg-3">
        <div class="card-header bg-transparent border-dark"><%= camiseta.title %></div>
        <div class="card-body text-dark">
          <figure>
            <img src="/img/<%= camiseta.image %>" class="card-img-top camiseta" alt="...">
          </figure>

          
          <p>$ <%= camiseta.price %><span class="badge badge-warning">Ultimo</span></p>
        </div>
        <a href="/productDetail/<%= camiseta.id %>" class="btn btn-outline-dark">Detalle del Producto</a>
        <a href="/productCart/<%= camiseta.id %>" class="btn btn-dark">Comprar</a>
      </article> 
        <% }%>
        <% }) %>    
    </section>
  </main>

  <!--footer-->
  <%- include('../partials/footer') %>
</body>

</html>